
# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# IDE & OS
.vs/
.idea/
.DS_Store

# Unity generated project files
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Platform builds
*.apk
*.aab
*.ipa
*.app/

